body{
font-family: Arial;
margin:0;
background:#202124;
color:white;
}

.header{
background:#303134;
padding:10px;
display:flex;
gap:10px;
align-items:center;
}

.main{
display:flex;
height:60vh;
}

.video-area{
flex:3;
display:flex;
justify-content:center;
align-items:center;
background:black;
}

video{
width:80%;
border-radius:10px;
}

.chat-area{
flex:1;
background:#303134;
padding:10px;
}

#chatBox{
height:300px;
overflow:auto;
border:1px solid gray;
padding:10px;
background:#202124;
}

.controls{
position:fixed;
bottom:0;
width:100%;
background:#303134;
display:flex;
justify-content:center;
gap:10px;
padding:10px;
}

button{
padding:10px 15px;
border:none;
border-radius:5px;
cursor:pointer;
}

input{
padding:8px;
}